.root {
    -fx-background-color: #9F9F9F;
    -fx-font-size: 12pt;
}

.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 6;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #606060 0%, #404040 100%),
            radial-gradient(center 50% 50%, radius 100%, white, #BFBFBF);
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #174048;
}

.armed {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #606060 0%, #404040 100%),
            radial-gradient(center 50% 50%, radius 100%, white, forestgreen);
}

.disarmed {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #606060 0%, #404040 100%),
            radial-gradient(center 50% 50%, radius 100%, white, #BFBFBF);
}

.button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #606060 0%, #404040 100%),
            radial-gradient(center 50% 50%, radius 100%, white, #c8e2c8);
}

.button:pressed {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #606060 0%, #404040 100%),
            radial-gradient(center 50% 50%, radius 100%, white, forestgreen);
}
